<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820712947905-hqralc3g2v965h1l5c3k14a2c6jv2usc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820712947905-hqralc3g2v965h1l5c3k14a2c6jv2usc</string>
	<key>API_KEY</key>
	<string>AIzaSyCtmUTqLjuITZcTqY7_umFXEuZSiTyDiZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820712947905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashify</string>
	<key>PROJECT_ID</key>
	<string>cashify-a431e</string>
	<key>STORAGE_BUCKET</key>
	<string>cashify-a431e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820712947905:ios:3a6d74778561f376f09440</string>
</dict>
</plist>